.ant-modal-title {
  font-weight: 400;
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.5);
  filter: alpha(opacity=50);
}

// Component Permission
.comp-per {
  h6 {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.75);
  }

  .comp-name {
    color: rgba(0, 0, 0, 0.75);
  }
}

.checkbox-label {
  span {
    display: inline-block;
    width: 25%;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }
}

.ant-modal-footer {
  border: 0 none;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;

  .ant-btn {
    text-transform: capitalize;
    font-size: 14px;
    min-width: 100px;
    height: 40px;

    &.cancel-btn {
      background: #e5e5e5;
      color: rgba(0, 0, 0, 0.85);
      border: 1px solid #e5e5e5;
    }
  }
}

.ant-modal-content {
  border-radius: 8px;

  .ant-modal-header {
    border-radius: 8px 8px 0 0;
  }

  .avatar-uploader > .ant-upload {
    margin: 0 0 1rem;
  }
}

// Upload Modal
.upload-modal {
  .ant-modal-body {
    padding: 40px;
  }

  .ant-upload.ant-upload-drag {
    background: #ffffff;
    border: 1px dashed #7f7f7f;
  }
  .anticon-cloud-upload {
    position: relative;
    display: inline-block;
    &:after {
        content: "+";
        position: absolute;
        left: -4px;
        bottom: 3px;
        font-size: 14px;
        width: 16px;
        height: 16px;
        background: #433e93;
        border-radius: 18px;
        line-height: 18px;
        color: #ffffff;
    }
  }

  .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
    border-color: #d34a7c;
  }

  .ant-upload.ant-upload-drag p.ant-upload-drag-icon {
    .anticon {
      color: #3f2093;
      font-size: 40px;
    }

    span {
      color: #3f2093;
    }
  }

  .ant-upload.ant-upload-drag p.ant-upload-hint {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
  }

  .ant-upload-list-picture .ant-upload-list-item,
  .ant-upload-list-picture-card .ant-upload-list-item {
    background: #f7f6f8;
    border: 0 none;
    border-radius: 8px;
  }

  .ant-upload-list-picture .anticon-close,
  .ant-upload-list-picture-card .anticon-close {
    top: 50%;
    right: 15px;
    background: #d34a7c;
    color: #ffffff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-top: -9px;
  }
}

// Delete Modal
.ant-modal-confirm-body {
  .ant-modal-confirm-title {
    font-weight: 400;
  }
}

.ant-modal-confirm-btns {
  .ant-btn {
    height: 40px;
    min-width: 80px;
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 30px;
    line-height: 40px;
    background: #e5e5e5;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid #e5e5e5;

    &:hover,
    &:focus {
      background: #e5e5e5;
      color: rgba(0, 0, 0, 0.85);
      border: 1px solid #e5e5e5;
    }
  }

  .ant-btn-primary {
    color: #fff;
    background-color: #d23b7d;
    border-color: #d23b7d;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 6px 12px rgba(255, 86, 159, 0.2);

    &:hover,
    &:focus {
      color: #fff;
      background-color: #d23b7d;
      border-color: #d23b7d;
    }
  }
}

/****************************************************************************************************************
                            RELEIVING LETTER AND EXPERIENCE LETTER MODAL
****************************************************************************************************************/
.ant-modal {
  &.letter {
    width: 750px !important;
    max-width: 95% !important;

    .ant-modal-body {
      padding: 0;

      .main-content {
        padding: 100px 0 !important;
      }

      .header {
        padding: 0 0 30px !important;
        border-bottom: 1px solid #f1f1f1;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .download-icon {
        position: absolute;
        right: -3rem;
        top: 3.5rem;
        font-size: 26px;
        color: #ffffff;
        line-height: 1;
      }

      .sheet {
        margin: 0;
        box-shadow: none;
        border-radius: 10px;
      }
    }

    .ant-modal-footer {
      padding: 0;
    }

    .ant-modal-close {
      right: -3rem;
      color: #ffffff;

      &:hover {
        color: #ffffff;
      }

      .ant-modal-close-x {
        width: auto;
        height: auto;
        font-size: 26px;
        line-height: 1;
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .ant-modal {
    &.letter {
      .ant-modal-body {
        .download-icon {
          right: 3rem;
          top: -3rem;
        }
      }

      .ant-modal-close {
        right: 0;
        color: #ffffff;
        top: -3rem;
      }
    }
  }
}

@media only screen and (max-width: 575.98px) {
  .ant-modal {
    &.letter {
      .ant-modal-body {
        .header {
          flex-direction: column;
        }
      }
    }
  }

  .upload-modal {
    .ant-modal-body {
      padding: 40px 20px;
    }
  }

  .checkbox-label {
    span {
      font-size: 12px;
    }
  }

  .comp-per {
    .comp-name {
      font-size: 13px;
    }
  }
}
